@import 'ws-vars';
@import 'ws-mixins';

// for main left sidebar fix in all pages
::ng-deep .mat-nav-list.custom-class {
  max-height: 100% !important;
}

%background-image-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%page-center {
  // max-width: $page-center;
  // max-width: $max-screen;
  margin-left: 0 !important;
  margin-right: auto !important;
}

%height-mat-toolbar-sibling {
  height: calc(100% - #{$mat-toolbar-xs});

  // padding: $size-m;
  @include breakpoint-gt-xs {
    height: calc(100% - #{$mat-toolbar-gt-xs});
  }
}

$border-color: rgba($color: #000, $alpha: 0.2);
$color-blue: #1B4CA1;
$color-green: #1D8923;
$color-red: #D13924;

::ng-deep .profile-form-field {
  .mat-form-field-appearance-legacy,
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;

    .mat-form-field-flex {
      display: flex;
      align-items: center;

      .mat-form-field-infix {
        border-top: 0px !important;
      }
    }
  }

  .mat-form-field-underline {
    height: 0px !important;
  }

  .mat-select {
    padding: 12px 16px;
    border: 1px solid rgba($color: #000000, $alpha: 0.14);
    border-radius: 4px;
    width: calc(100% - 36px);
  }
}

.input-text {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba($color: #000000, $alpha: 0.14);
  font-family: $font-family-lato;
  letter-spacing: 0.25px;
  width: calc(100% - 36px);
}

.grid-container-25 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 24px;
}

.grid-container-33 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 24px;
}

.role-chip {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid $border-color;
  color: rgba($color: #000, $alpha: 0.88);
  text-transform: uppercase;
  font-size: 14px;

  .mat-checkbox {
    display: flex;
    align-items: center;
  }
}

.button-common-css {
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
}

.outline-button {
  @extend .button-common-css;
  color: $color-blue;
  border: 1px solid $color-blue;
  background-color: #FFF;
}

.action-button {
  @extend .button-common-css;
  color: #FFF;
  background-color: $color-blue;
  border: 1px solid $color-blue;
}

.successbtn {
  background: #1B4CA1 !important;
}

.cancelbtn {
  border: 1px solid #1B4CA1;
  color: #1B4CA1 !important;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w80 {
  width: 95px !important;
}

.w-minus-w80 {
  max-width: calc(100% - 80px) !important;
}

.w-minus-w50 {
  max-width: calc(100% - 50%) !important;
}