@use '~@angular/material' as mat;
@import './theme-mixins';

// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$orange-palette);
$theme-accent: mat.define-palette(mat.$teal-palette);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);
$background-color: mat.define-palette(mat.$red-palette);
$theme-background: mat.define-palette(mat.$red-palette);

.theme-orange {
  &.day-mode {
    $theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);

     // $custom-background-color: map_get($mat-blue-grey, 50);

    // -or- Can set colour by hex value too
    // $custom-background-color: #F5F6FA;

    // $background: map-get($theme, background);
    // $background: map_merge($background, (background: $custom-background-color));
    // $theme: map_merge($theme, (background: $background));
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
    // $background: $background-color;
  }
  &.night-mode {
    $theme: mat.define-dark-theme($theme-primary, $theme-accent, $theme-warn);
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
  }
}
