@use '~@angular/material' as mat;
@import './theme-mixins';

mat.$blue-palette: (
  50: #eff1f3,
  100: #d2dde8,
  200: #a5c1dc,
  300: #68a0d6,
  400: #4788c7,
  500: #0072ce,
  600: #0358ab,
  700: #0c4f90,
  800: #154a7d,
  900: #103c67,
  A100: #617284,
  A200: #587594,
  A400: #3e6792,
  A700: #062c54,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87)
  )
);

mat.$orange-palette: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #fc4c02,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #fc4c02,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: black
  )
);

// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette(mat.$blue-palette);
$theme-accent: mat.define-palette(mat.$orange-palette, 900);

// The warn palette is optional (defaults to red).
$theme-warn: mat.define-palette(mat.$red-palette);
// $background-color: mat-palette($mat-red);
// $theme-background: mat-palette($mat-red);

.theme-blue {
  &.day-mode {
    $theme: mat.define-light-theme($theme-primary, $theme-accent, $theme-warn);

    // $custom-background-color: map_get($mat-blue-grey, 50);

    // -or- Can set colour by hex value too
    // $custom-background-color: #F5F6FA;

    // $background: map-get($theme, background);
    // $background: map_merge($background, (background: $custom-background-color));
    // $theme: map_merge($theme, (background: $background));
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
    // $background: $background-color;
  }

  &.night-mode {
    $theme: mat.define-dark-theme($theme-primary, $theme-accent, $theme-warn);
    @include mat.all-component-themes($theme);
    @include theme-based-configurations($theme);
  }
}
